# Excluded files for Matlab

3RMatlab/modelODEfull.m
3RMatlab/effectorTrajectoryGenerator3Dfull.m
3RMatlab/startFull.m
*.asv

# IDE temporary files and directories

Debug
mainfull*.c
*.bak 
mx.scratch
Backup
*.bak

# Conversion files

*.log
.*_org
