# Excluded files for Matlab
*.asv

# Python
__pycache__
*.pyc

# IDE temporary files and directories
Debug
*.bak 
mx.scratch
Backup
*.bak
.mxproject

.vscode

# Conversion files

*.log
.*_org

# Solutions
*full.m
*Full.m
mainfull*.c
*Full.py