
#excluded files for Matlab

3RMatlab/modelODEfull.m
3RMatlab/effectorTrajectoryGenerator3Dfull.m
3RMatlab/startFull.m
*.asv

# Atollic TrueSTUDIO temporary files and directories

Debug
mainfull.c
*.bak 
